#container {
    border: 10px solid green;
    max-height: 390px;
    max-width: 390px;
    padding: 0px;
    margin: 0px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#pixel {
    border: 1px solid;
    padding: 11px;
    margin: 0px;
}